:root {
  --link-size: 64px;
  --trans-property: all 0.3s ease;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(189 208 241);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 
* {
  background-color: rgb(189 208 241);
  ;
} */

/* .form {
  display: grid;
  align-items: center;
  color: black;
} */

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5px;
  padding: 10px;
}

ul {
  list-style: none;
}

.nav {

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 5px;
  font-variant: petite-caps;

}

.formView {
  width: 100mm;
  margin: auto;
}

.home {
  position: relative;
  background: none;
  /* text-align: center; */
}

h1 {
  font-size: 24px;
  font-family: myFirstFont;
  font-variant: petite-caps;

}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  color: rgb(246, 247, 247);
  font-size: 24px;
  font-family: myFirstFont;
  font-variant: petite-caps;
  font-weight: bolder;
  /* opacity: .8; */
  /* src: url(sansation_light.woff); */
}

.home-vac {
  display: flex;
  opacity: 0.7;
}

.about {
  position: absolute;
  /* top: 80%; */
  /* left: 20%; */
  display: grid;
  background: none;
  font-size: 24px;
  font-family: myFirstFont;
  font-variant: petite-caps;
  /* opacity: .5; */
  color: rgb(196 238 212);
}

p {
  background: none;
  color: rgb(13, 26, 29);

  font-family: 'Times New Roman', Times, serif;
  font-variant: petite-caps;
  /* font-weight: bolder; */

}

.des-block {
  background: #f2f2f2;
}

.des-block.content-block .holder:hover {
  box-shadow: none;
}

.des-block.content-block .holder:hover .image img {
  transform: none;
}

.des-block .row {
  margin-bottom: 50px;
}

.des-block .row:last-child {
  margin-bottom: 0;
}

.des-block .holder {
  background: #fff;
  padding: 15px;
  transition: box-shadow 0.3s linear;
  margin-bottom: 15px;
}

.des-block .holder:hover {
  box-shadow: 0 0 30px 0 #71e5a9;
}

.des-block .card {
  border: 0;
  display: grid;
  justify-items: center;

}

.des-block .card-body {
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  font-variant: petite-caps;

}

.des-block img {
  margin: 0 0 15px;
  width: 450px;

}

.des-block .card-title {
  margin: 0 0 10px;
  color: #f64b4b;
  font-size: 22px;
}

.des-block .card-title a:hover {
  color: #038b90;
}

.mbsc-row {
  display: flex;
  width: 40%;
}

.mbsc-col-12 mbsc-col-md-6 mbsc-col-lg-3 {
  width: 40%;
  background: none;
}

.mbsc-mobiscroll.mbsc-form {
  background: none;
  display: flex;
}

.mbsc-mobiscroll.mbsc-input input {
  background: none;
  background-color: rgb(189 208 241);
  border: solid;
}

.mbsc-mobiscroll.mbsc-btn {
  font-family: 'Times New Roman', Times, serif;
  font-variant: petite-caps;

  display: inherit;
  margin-left: 140px;
  width: fit-content;
}

h3 {
  font-variant: petite-caps;
  font-weight: normal;
}

.logout {

  border-color: #001a27;
}

.text-box {
  background: gray;
  opacity: 0.5;
}

.conteiner {
  display: grid;
  align-items: center;
  background-color: #d9d9d9;
}

.form-add {
  display: grid;
}

a:-webkit-any-link {
  color: #001a27;
  text-decoration: none;
}

.btn btn-large btn-info {
  background: none;
}

/* footer {
  background-color: gray;
  text-align: center;
  margin-top: auto;
  padding: 8px;
} */
.social-icons {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon {
  display: flex;
  position: relative;
  overflow: hidden;
  width: var(--link-size);
  height: var(--link-size);
  margin: 8px;
  border-color: #001a27;
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  text-decoration: none;
  transition: var(--trans-property);
}

.social-icon i {
  margin: auto;
  font-size: 24px;
  color: #67798e;
  z-index: 1;
  transition: var(--trans-property);
}

.social-icon:after {
  content: "";
  width: var(--link-size);
  height: var(--link-size);
  position: absolute;
  transform: translate(0, var(--link-size));
  border-radius: 50%;
  transition: var(--trans-property);
}

.social-icon.twitter:after {
  background-color: #1da1f2;
}

.social-icon.github:after {
  background-color: #24292e;
}

.social-icon.dribbble:after {
  background-color: #ea4c89;
}

.social-icon.instagram:after {
  background-color: #5851db;
}

.social-icon.facebook:after {
  background-color: #1769ff;
}

/*** Animations ***/
.social-icon:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
}

.social-icon:hover i {
  color: rgb(17, 16, 16);
}

.social-icon:hover:after {
  transform: translate(0) scale(1.2);
}

.footer-menu {
  float: right;
  padding: 10px;
  text-decoration: underline;
}


.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  padding-right: 10px;
  display: block;
}


.footer-menu ul li a {
  color: #0e3567;
  text-decoration: none;
}

.footer-menu ul li a:hover {
  color: #27bcda;
}

.wavepoint {
  position: relative;
  display: block;
  padding: 10px 30px;
  border: 2px solid #00aeff;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 4px;
  color: #00aeff;
  text-decoration: none;
  overflow: hidden;

}

.wavespan {
  position: relative;
  z-index: 1;
  transition: 1s;
  color: antiquewhite;
}

.wave {
  position: absolute;
  top: calc(100% + 22px);
  left: 0;
  width: 100%;
  height: 100%;
  background: #59d1ef;
  transition: 1s;

}

a:hover .wave {
  top: 0;
}


a.wave:before {
  content: " ";
  position: absolute;
  top: -22;
  left: 0;
  width: 100%;
  height: 22px;
  background: url(wave.png);
  animation: animate 0.5s linear infinite;
}




@keyframes animate {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: 118px;
  }
}

a.underline {
  text-decoration: underline;
}

.reviewList {
  display: flex;
}

.ratings {
  display: block;
}

.country {
  text-decoration: underline;
}

.addreview {
  display: flex;
}

.list {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  margin: 20px;
  list-style: decimal;
}

.errors {
  display: flex;
  list-style: none;
}

.location {
  text-decoration: underline;
}